@import '../../../common/variables.scss';
@import '../../../common/mixins.scss';

body {
    background-color: $orange-color;
}

.create {
    @include centering;
    margin-top: 60px;

    &__body {

        display: flex;
        flex-direction: column;
        height: 700px;
        width: 1000px;
        background-color: $black-color;
        border-radius: 25px;

    }

    &__button {

        margin-left: 20px;
        margin-top: 20px;
        height: 30px;
        width: 120px;
        cursor: pointer;

        font-family: "Roboto", sans-serif;
        font-weight: 500;
        transition: 0.3s;

        background-color: #fff;
        border-radius: 10px;

        &:hover {
            background-color: #878788;
        }
    }


    &__voltar {
        text-decoration: none;
        color: black;
    }


    &__header {

        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 40px;

    }


    &__title {
        color: white;
        font-family: "Bebas Neue", sans-serif;
        font-weight: 400;
        font-size: 50px;
    }

    &__content {    

        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 20px;
        
        form {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-between;
            font-family: 'Roboto', sans-serif;

            width: 600px;
            height: 450px;

            button {
                margin-top: 30px;
                margin-bottom: 20px;
                background-color: white;
                border: none;
                cursor: pointer;
                height: 50px;
                width: 200px;
                border-radius: 25px;

                font-size: 20px;
                font-family: 'Roboto', sans-serif;
                font-weight: 600;
                transition: 0.3s;

                &:hover {
                    background-color: #c0bfbf;
                }

                &:active {
                    background-color: $orange-color;
                }

            }
            
            input {
                font-size: 25px;
                font-family: 'Roboto', sans-serif;
                font-weight: 400;
                border: none;

                width: 500px;
                height: 40px;
                border-radius: 25px;
                background-color: white; 
                margin-bottom: 20px;
                transition: 0.3s;
                padding: 15px;

                &:focus {
                    outline: none;
                    border: 3px solid $orange-color;
                    background-color: #f0f0f0;
                }
            }
        }

        label {
            margin-top: 20px;
            font-size: 24px;
            font-weight: 400;
            color: white;
        }


    }

}